* {
    box-sizing: border-box;
}

html, body {
    padding: 0px;
    margin: 0px;
    font-family: system-ui;
    font-size: 14px;
}

code {
    font-size: 0.9em;
}

a:link, a:visited {
    text-decoration: none;
    color: #336bad;
}

a:hover {
    text-decoration: underline;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
}

#app {
    width: 100%;
    min-height: 100vh;
    display: flex;
}

#sidebar {
    width: 40%;
    background-color: #efefe0;
    display: flex;
    flex-direction: row-reverse;
}

.sidebar-inner {
    width: 100%;
    max-width: 400px;
    background-color: transparent;
    padding: 40px;
}

.logo {
    background-image: url("planetable-logo-light.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    aspect-ratio: 1;
}

.logo-name {
    text-align: center;
    font-family: system-ui;
    font-size: 3em;
    font-weight: 800;
}

#main {
    width: 60%;
    min-height: 100vh;
    background-color: #fffff0;
    display: flex;
    align-items: center;
}

.main-inner {
    flex: 1;
    max-width: 600px;
    padding: 40px;
}

.markdown-content {

}

.markdown-content p {
    font-size: 1.2em;
    font-family: system-ui;
    line-height: 150%;
}

.markdown-content p:last-child {
    margin-bottom: 0;
}

.markdown-content p:first-child {
    margin-top: 0;
}

.section {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

.action-wrapper {
    display: inline-flex;
    flex-direction: column;
    gap: 8px;
}

.download-button:link, .download-button:visited, .download-button:active {
    cursor: pointer;
    border-radius: 60px;
    padding: 20px 40px 20px 80px;
    text-decoration: none;
    line-height: 1;
    font-size: 1.2em;
    background-color: #ffc110;
    color: #222;
    background-image: url("./download.png");
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-position: 20px 10px;
}

.latest-version, .release-date {
    display: inline-block;
    font-size: 0.8em;
    color: #888;
    text-align: center;
}

.screenshot {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

code {
    line-break: anywhere;
}

@media (max-width: 600px) {
    #app {
        flex-direction: column;
    }

    #sidebar {
        width: 100%;
        flex-direction: row;
    }

    .sidebar-inner {
        width: 100%;
        max-width: 100%;
    }

    #main {
        width: 100%;
        min-height: 1vh;
        align-items: initial;
    }
}
